:root{
    /* escopo global, onde as variaveis sao funcionais em todo o projeto */
    --primary-color: #F5CF06;
    --secundary-color: #8E4106;

}
body{
    height: 100vh;
    background-color: var(--primary-color);
    padding: 70px;
    font-family: Righteous, sans-serif;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    gap: 16px;
}
header span{
    font-size: 32px;
    color: var(--secundary-color);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.sombra{
    position: absolute;
    color: #ffffff55;
    font-size: 26vw;
    z-index: -999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}
h1{
    flex-grow: 1; /* este estica o maximo que pode */
    font-size: 20vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0px esquerda -100px baixo, valor negativo sobe 0 esfumaçado  black; */
}
.container{
    height: 154px;/* este limita o tamanho para que ele o anterior fique no tamanho desejado */
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
    align-items: flex-end;
}
.container a{
    width: 400px;
    height: 100px;
    background-color: var(--secundary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;

}
.descricao h2{
    font-size: 64px;
    color: var(--secundary-color);
}
.descricao p{
    font-size: 20px;
    color: var(--secundary-color);
    width: 500px;
}
.pikachu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
footer{
    color: var(--secundary-color);
    text-align: center;
}
/* o media é como se fosse um if, neste caso, se mudar a dimensão muda a responsividade do programa */
/* TABBLET */
@media (max-width: 768px){
    body{
        padding: 30px;
    }
    .sombra{
        transform: translate(-50%, -180%);
    }
    h1{
        align-items: start;
        transform: translateY(40%);
        flex-grow: 0;

    }
    main{
        justify-content: space-between;
    }
    .container{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0;
    }
    .descricao p{
        text-align: center;
    }
    footer{
        display: none;    }
}
/* MOBILE  */
@media (max-width: 480px) {
 
    
}